<!DOCTYPE html>
<html>
	<head>
		<script
		src="https://code.jquery.com/jquery-3.3.1.min.js"
		integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
		crossorigin="anonymous"></script>
		<link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
		<link rel="stylesheet" href="http://cdn.materialdesignicons.com/2.5.94/css/materialdesignicons.min.css">
		<link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">
		<title>Leptron</title>
		<link rel="stylesheet" href="css/app.min.css">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/2.3.0/mustache.min.js"></script>
		<link rel="stylesheet" href="css/index.css">
		<link rel="stylesheet" href="css/positron.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/cryptico/0.0.1343522940/cryptico.js"></script>
	</head>
	<body>

		<div class="wrapper">
			<div class="left-side-menu active">
				<div class="slimscroll-menu">

					<a href="/" class="logo text-center mb-4">
						<span class="logo-lg" style="color: white; font-size: 40px;">
							Leptron
						</span>
						<span class="logo-sm" style="color: white; font-size: 40px;">
							LEP
						</span>
					</a>

					<ul class="metismenu side-nav">
						<li class="side-nav-title side-nav-item">Navigation</li>
						<li class="side-nav-item active">
							<a href="#" class="side-nav-link">
								<i class="material-icons">show_chart</i>
								<span class="float-right">
									<i class="material-icons">keyboard_arrow_right</i>
								</span>
								<span>Stocks</span>
							</a>
						</li>
					</ul>
				</div>
			</div>

			<div class="content-page">
				<div class="content">
					<ul class="list-unstyled topbar-right-menu float-right mb-0">
						<li style="padding-top: 16px;">
							<button class="btn btn-primary" id="login-check" data-toggle="modal" data-target="#loginModal">Login</button>
						</li>
					</ul>
					<div class="navbar-custom">
						<div class="app-search ml-4">
							<form onsubmit="location.href='/stock/' + document.getElementById('searchForm').value; return false;">
								<div class="input-group">
									<input type="text" class="form-control" id="searchForm" placeholder="Search . . .">
									<span class="mdi" style="padding-top: .35rem;">
										<i class="material-icons">search</i>
									</span>
									<div class="input-group-append">
										<button class="btn btn-primary" type="submit">Search</button>
									</div>
								</div>
							</form>
						</div>
						<button class="button-menu-mobile open-left disable-btn">
							<i class="material-icons">menu</i>
						</button>
					</div>

					<div class="container-fluid">
						<div class="row">
							<div class="col-12">
								<div class="page-title-box">
									<h2 class="page-title" id="mainpageHeader">S&P 500 Stocks</h2>
								</div>
							</div>
						</div>
						<div class="row">
							
							<div class="col-xl-12">
								<div class="col-sm-12 ml-3">
										<button id="checkButton"  type="button" class="btn btn-danger" data-toggle="modal" data-target="#addCheckModal">Add A Stock</button>
								</div>

								<div class="row mt-3" id="sp500-row-one">

									<!--Main Card for home page stocks-->

									<div class="col-lg-4">
										<div class="card widget-flat">
											<div class="card-body">
												<h5 class="text-muted font-weight-normal mt-0" title="AAPL - Apple Inc.">{{Ticker - Name}}</h5>
												<h3 class="mt-3 mb-3">{{STOCK PRICE}}</h3>
												<p class="mb-0 text-muted">
													<span class="text-success mr-2">
														<i class="mdi mdi-arrow-up-bold"></i>
														{{Percent}}
													</span>
													<span class="text-nowrap">Since Last Trading Day</span>
												</p>
											</div>
										</div>
									</div>

									<div class="col-lg-4">
											<div class="card widget-flat">
												<div class="card-body">
													<h5 class="text-muted font-weight-normal mt-0" title="AAPL - Apple Inc.">{{Ticker - Name}}</h5>
													<h3 class="mt-3 mb-3">{{STOCK PRICE}}</h3>
													<p class="mb-0 text-muted">
														<!--For negative ones-->
														<span class="text-danger mr-2">
															<i class="mdi mdi-arrow-down-bold"></i>
															{{Percent}}
														</span>
														<span class="text-nowrap">Since Last Trading Day</span>
													</p>
												</div>
											</div>
										</div>
									</div>
								</div>


								<!--End Block-->
							</div>

							<div class="container-fluid">
								<div class="row">
									<div class="col-12">
										<div class="page-title-box">
											<h2 class="page-title"></h2>
										</div>
									</div>
								</div>
						</div>
						<div class="row">
							<div class="col-xl-12">
								<div class="row" id="sp500-row-two">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div id="check_stock_lst" style="display: none;"></div>
					<div id="loginModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header">
									<h4 class="modal-title" id="loginModalLabel"> Leptron - Login </h4>
									<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
								</div>
								<div class="modal-body">
									<div class="">
										<form>
											<div class="form-group">
												<label style="font-family: 'Nunito', sans-serif;" for="uname"> Username </label>
												<input class="form-control" type="username" id="uname" required placeholder="Enter Username">
											</div>
											<div class="form-group">
												<label style="font-family: 'Nunito', sans-serif;" for="password"> Password </label>
												<input class="form-control" type="password" id="psswd" required placeholder="Enter password">
											</div>
										</form>
										<button class="btn btn-primary" id="login_submit">Submit</button>
									</div>
									<a href="/signup"> OR you can signup here</a>
								</div>
							<div>
						</div>
					</div>
				</div>
			</div>
			<div id="addCheckModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="checkModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<h4 class="modal-title" id="checkModalTitle"> Are you Sure? </h4>
							</div>
							<div class="modal-body">
									<div class="input-group">
										<input type="text"
										 style="border: none; box-shadow: 20px 10px 60px 0 rgba(154,161,171,.15);"
										 class="form-control" id="stockForm" placeholder="Add A Stock...">
										<div class="input-group-append">
											<button class="btn btn-primary" onclick="addStockToUsr($('#stockForm').val())">
												Add
											</button>
										</div>
									</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<script type="text/javascript">
			function checkSession() {
				var sessionID = sessionStorage.getItem('sessionID')
				var nt;
				$.ajax({url: "/auth_session?session_id=" + sessionID, async: false, success:function(res) {
					nt = res
				}})
				return nt.sessionAuth
			}
			checkSession()
			$(document).ready(function() {
				var positiveTemplate = '<div class="col-lg-4"><a href="/stock/{{ticker}}" class="cardLink"><div class="card shadow-lg "><div class="card-body"><h5 class="text-muted font-weight-bold mt-0" title="{{ticker}} = {{fullName}}">{{ticker}} - {{fullName}}</h5><h3 class="mt-3 mb-3">{{price}}</h3><p class="mb-0 text-muted"><span class="text-success mr-2"><i class="mdi mdi-arrow-up-bold"></i>{{percentGain}}</span><span class="text-nowrap">Since Last Trading Day</span></p></div></div></div></div></a></div>'
				var negativeTemplate = '<div class="col-lg-4"><a href="/stock/{{ticker}}" class="cardLink"><div class="card shadow-lg"><div class="card-body"><h5 class="text-muted font-weight-bold mt-0" title="AAPL - Apple Inc.">{{ticker}} - {{fullName}}</h5><h3 class="mt-3 mb-3">{{price}}</h3><p class="mb-0 text-muted"><span class="text-danger mr-2"><i class="mdi mdi-arrow-down-bold"></i>{{percentGain}}</span><span class="text-nowrap">Since Last Trading Day</span></p></div></div></div></div></a></div>'
				
				var loop_video_list = []
				console.log(checkSession())

				$('body').on('click', 'a.cardLink', function() {
					console.log("CLICK")
				})

				$.ajax({url: "/api/spq", success: function(result) {
					var tickerLst = result.tickerList
					var reqUrl = "/api/batch"
					for(var i = 0; i != tickerLst.length; i++) {
						var ticker = tickerLst[i]
						reqUrl += "/" + ticker
					}
					$("#sp500-row-one").html('')
					$.ajax({url: reqUrl, success: function(res) {
						var boolean = sessionStorage.getItem('sessionBoolean')
						if(checkSession()) {
							$("#check_stock_lst").text(tickerLst.toString())
							for(var x = 0; x != tickerLst.length; x++) {
								try {
									var quote = res[tickerLst[x]].quote
								} catch(error) {
									continue;
								}
								var obj = {
									ticker: quote.symbol,
									fullName: quote.companyName,
									price: quote.latestPrice,
									percentGain: quote.changePercent
								}

								if(obj.percentGain < 0) {
									var finHtml = Mustache.to_html(negativeTemplate, obj)
									$("#sp500-row-one").append(finHtml)
								}
								else {
									var finHtml = Mustache.to_html(positiveTemplate, obj)
									$("#sp500-row-one").append(finHtml)
								}
							}
							loop_video_list = tickerLst
						}
						else {
							console.log('no login detected')
							console.log(checkSession())
							var check_stock_list = ["googl", "fb", "aapl"]
							$("#check_stock_lst").text(check_stock_list.toString())
							$('#mainpageHeader').text("Stocks for Users with No Accounts")
							for(var x = 0; x != check_stock_list.length; x++) {
								$.get("/api/batch/" + check_stock_list[x], function(res) {
									if(res.FB != undefined) {
										var quote = res.FB.quote
										var obj = {
											ticker: quote.symbol,
											fullName: quote.companyName,
											price: quote.latestPrice,
											percentGain: quote.changePercent
										}
										if(obj.percentGain < 0) {
											var finHtml = Mustache.to_html(negativeTemplate, obj)
											$("#sp500-row-one").append(finHtml)
										}
										else {
											var finHtml = Mustache.to_html(positiveTemplate, obj)
											$("#sp500-row-one").append(finHtml)
										}
									}
									if(res.GOOGL != undefined) {
										var quote = res.GOOGL.quote
										var obj = {
											ticker: quote.symbol,
											fullName: quote.companyName,
											price: quote.latestPrice,
											percentGain: quote.changePercent
										}
										if(obj.percentGain < 0) {
											var finHtml = Mustache.to_html(negativeTemplate, obj)
											$("#sp500-row-one").append(finHtml)
										}
										else {
											var finHtml = Mustache.to_html(positiveTemplate, obj)
											$("#sp500-row-one").append(finHtml)
										}
									}
									if(res.AAPL != undefined) {
										var quote = res.AAPL.quote
										var obj = {
											ticker: quote.symbol,
											fullName: quote.companyName,
											price: quote.latestPrice,
											percentGain: quote.changePercent
										}
										if(obj.percentGain < 0) {
											var finHtml = Mustache.to_html(negativeTemplate, obj)
											$("#sp500-row-one").append(finHtml)
										}
										else {
											var finHtml = Mustache.to_html(positiveTemplate, obj)
											$("#sp500-row-one").append(finHtml)
										}
									}
									loop_video_list = check_stock_list
									
								})
							}
						}
					}})
				}})
				//now waiting ten seconds, then updating prices
			})
		</script>
		<script src="js/app.min.js"></script>
		<script language="JavaScript" type="text/javascript"
        	src="http://kjur.github.io/jsrsasign/jsrsasign-latest-all-min.js">
		</script>
		<script>
			/* $.get("/getPubKey", function(data) {
				console.log(data)
			}) */
			$("#login_submit").click(function() {
				const unameVal = $("#uname").val()
				const psswdVal = $("#psswd").val()

				const alertBadUNAME = "<div class='alert alert-danger alert-dismissible bg-danger text-white border-0 fade show' \
				role = 'alert'> \
				<button type='button' class='close' data-dismiss='alert' aria-label='Close'> \
				<span aria-hidden='true'>×</span></button>\
				<strong>Alert - </strong>\
				No User Name \
				</div>"
				const alertBadPSSWD = "<div class='alert alert-danger alert-dismissible bg-danger text-white border-0 fade show' \
				role = 'alert'> \
				<button type='button' class='close' data-dismiss='alert' aria-label='Close'> \
				<span aria-hidden='true'>×</span></button>\
				<strong>Alert - </strong>\
				No Password\
				</div>"
				const alertPSSWDWrong = "<div class='alert alert-danger alert-dismissible bg-danger text-white border-0 fade show' \
				role = 'alert'> \
				<button type='button' class='close' data-dismiss='alert' aria-label='Close'> \
				<span aria-hidden='true'>×</span></button>\
				<strong>Alert - </strong>\
				Wrong Password\
				</div>"
				const alertUNAMEWrong = "<div class='alert alert-danger alert-dismissible bg-danger text-white border-0 fade show' \
				role = 'alert'> \
				<button type='button' class='close' data-dismiss='alert' aria-label='Close'> \
				<span aria-hidden='true'>×</span></button>\
				<strong>Alert - </strong>\
				No User Name Found in Database \
				</div>"

				if(unameVal == '') {
					console.log('no uname')
					$('.modal-content').prepend(alertBadUNAME)
				}
				if(psswdVal == '') {
					console.log('no psswd')
					$('.modal-content').prepend(alertBadPSSWD)
				}
				$.get("/getKey", function(data) {
					var payload_obj = {}

					payload_obj['uname'] = unameVal
					payload_obj['psswd'] = psswdVal

					var oHeader = {alg: "RS256"}
					var sHeader = JSON.stringify(oHeader)
					var sPayload = JSON.stringify(payload_obj)

					var sJWS = KJUR.jws.JWS.sign("RS256", JSON.stringify({alg: "RS256"}), sPayload, data)
					$.get("/login_try?payload=" + sJWS, function(checkPayload) {
						if(checkPayload.usernameFound == false) {
							$('.modal-content').prepend(alertUNAMEWrong)
						}
						if(checkPayload.passwordAuth == false) {
							$('.modal-content').prepend(alertPSSWDWrong)
						}
						sessionStorage.setItem("sessionBoolean", checkPayload.userLoginAuth)
						sessionStorage.setItem("sessionID", checkPayload.session_id)
						window.location.reload(false)
					})
				})
			})
		</script>
		<script>
			// checking if there is a sessoin bool

			setTimeout(function() {
				var boolean = sessionStorage.getItem('sessionBoolean')
				if(boolean != null) {
					console.log("has boolean")
					const session_id = sessionStorage.getItem('sessionID')
					$.get('/auth_session?session_id=' + session_id, function(session_authData) {
						if(session_authData.sessionAuth == true) {
							//remove the login bar and try to load the users stocks
							console.log("has session" + session_id)
							$("#login-check").css("display", "none")
							$.get("/getUserData?session=" + session_id, function(userHomeData) {
								if(userHomeData.stocks.length == 0) {
									console.log('no home page stuff')
									//need to addsearchbarthingy
								} else {
									//gen stuff above

									$("#check_stock_lst").text(userHomeData.stocks.toString())
									$("#mainpageHeader").text("Your Stocks")
									$("#sp500-row-one").html("")

									var positiveTemplate = '<div class="col-lg-4"><a href="/stock/{{ticker}}" class="cardLink"><div class="card shadow-lg "><div class="card-body"><h5 class="text-muted font-weight-bold mt-0" title="{{ticker}} = {{fullName}}">{{ticker}} - {{fullName}}</h5><h3 class="mt-3 mb-3">{{price}}</h3><p class="mb-0 text-muted"><span class="text-success mr-2"><i class="mdi mdi-arrow-up-bold"></i>{{percentGain}}</span><span class="text-nowrap">Since Last Trading Day</span></p></div></div></div></div></a></div>'
									var negativeTemplate = '<div class="col-lg-4"><a href="/stock/{{ticker}}" class="cardLink"><div class="card shadow-lg"><div class="card-body"><h5 class="text-muted font-weight-bold mt-0" title="AAPL - Apple Inc.">{{ticker}} - {{fullName}}</h5><h3 class="mt-3 mb-3">{{price}}</h3><p class="mb-0 text-muted"><span class="text-danger mr-2"><i class="mdi mdi-arrow-down-bold"></i>{{percentGain}}</span><span class="text-nowrap">Since Last Trading Day</span></p></div></div></div></div></a></div>'
									
									for(var i = 0; i != userHomeData.stocks.length; i++) {
										var stock = s=userHomeData.stocks[i]
										var uppCase = stock.toString().toUpperCase()
										var reqUrlSingle = "/api/batch/" + stock
										$.ajax({url: reqUrlSingle, async: false, success: function(quote) {
											var finQuote = quote[uppCase]['quote']
											var obj = {
												ticker: finQuote.symbol,
												fullName: finQuote.companyName,
												price: finQuote.latestPrice,
												percentGain: finQuote.changePercent
											}
											if(obj.percentGain < 0) {
												var finHtml = Mustache.to_html(negativeTemplate, obj)
												$("#sp500-row-one").append(finHtml)
											}
											else {
												var finHtml = Mustache.to_html(positiveTemplate, obj)
												$("#sp500-row-one").append(finHtml)
											}
										}})
									}
								}
							})
						}
						if(session_authData.sessionAuth == false) {
							//then add the login bar
							console.log("no session")
						}
					})
				}
			}, 750)
		</script>
		<script>
			const notificationErrorMissing = "<div class='alert alert-danger alert-dismissible bg-danger text-white border-0 fade show'> \
									<button type='button' class='close' data-dismiss='alert' aria-label='Close'> \
										<span aria-hidden='true'>×</span> \
									</button> \
									<strong> Error - </strong> No stock in Add Field \
								  </div>"
			function addStockToUsr(stock) {
				if(stock == '') {
					console.log('no stock')
				}
				else {
					var url = "/add_user_data?stock=" + stock
					const sess_id = sessionStorage.getItem("sessionID")
					url += "&sess_id=" + sess_id

					$.get(url, function(success) {
						console.log(success)
						location.reload();
					})
				}
			}
		</script>
	</body>
</html>
