<!DOCTYPE html>
<html>
<head>
	<base href="/">
	<script
		src="https://code.jquery.com/jquery-3.3.1.min.js"
		integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
		crossorigin="anonymous"></script>
		<link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
		<link rel="stylesheet" href="http://cdn.materialdesignicons.com/2.5.94/css/materialdesignicons.min.css">
		<link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">
		<title>Leptron - {{ticker}}</title>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
		<link rel="stylesheet" href="css/app.min.css">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/2.3.0/mustache.min.js"></script>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/chartist/0.11.0/chartist.min.css" />
		<link rel="stylesheet" href="css/index.css">
		<link rel="stylesheet" href="css/positron.css">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
		<style type="text/css">
			.overflowAuto {
				overflow-x: scroll;

			}
		</style>
		<script>
			var check_session;
			function checkSession(_callback) {
				var sessionID = sessionStorage.getItem('sessionID')
				$.get("/auth_session?session_id=" + sessionID, function(res) {
					check_session = res 
					_callback()
				})
			}
			checkSession(function() {
				var session_bool = check_session.sessionAuth
				if(session_bool == false) {
					var check_stock_list = ["googl", "fb", "aapl"]
					
					var ticker = "{{ticker}}".toLowerCase()
					var includeBool = check_stock_list.includes(ticker)

					if(includeBool == false) {
						$("#alertLCIK").click()
						window.stop()
					}
				}
				else {
					console.log('continue')
				}
			})
		</script>
</head>
<body>
	<div id="none" style="display: none">{{ticker}}</div>
	<div class="wrapper">
		<div class="left-side-menu active">
			<div class="slimscroll-menu">
				<a href="/" class="logo text-center mb-4">
					<span class="logo-lg" style="color: white; font-size: 40px;">
						Leptron
					</span>
					<span class="logo-sm" style="color: white; font-size: 40px;">
						LEP
					</span>
				</a>

				<ul class="metismenu side-nav">
					<li class="side-nav-title side-nav-item">Navigation</li>
					<li class="side-nav-item active">
						<a href="/" class="side-nav-link">
							<i class="material-icons">show_chart</i>
							<span class="float-right">
								<i class="material-icons">keyboard_arrow_right</i>
							</span>
							<span>Stocks</span>
						</a>
					</li>
				</ul>
			</div>
		</div>

		<div class="content-page">
			<div class="content">
				<div class="navbar-custom">
					<div class="app-search">
						<form onsubmit="location.href='/stock/' + document.getElementById('searchForm').value; return false;">
							<div class="input-group">
								<input type="text" class="form-control" id="searchForm" placeholder="Search . . .">
								<span class="mdi" style="padding-top: .35rem;">
									<i class="material-icons">search</i>
								</span>
								<div class="input-group-append">
									<button class="btn btn-primary" type="submit">Search</button>
								</div>
							</div>
						</form>
					</div>
					<button class="button-menu-mobile open-left disable-btn">
						<i class="material-icons">menu</i>
					</button>
				</div>
			</div>
			<div class="container-fluid">
				<button type="button" style="display: none;" class="btn btn-primary" data-toggle="modal" data-target="#fill-primary-modal" id="alertLCIK">Primary Filled</button>
				<div id="fill-primary-modal" class="modal fade" tabindex="-1" role="dialog"  data-backdrop="static" aria-labelledby="fill-primary-modalLabel" aria-hidden="true">
					<div class="modal-dialog">
						<div class="modal-content modal-filled bg-primary">
							<div class="modal-header">
								<h4 class="modal-title" id="fill-primary-modalLabel">ALERT</h4>
							</div>
							<div class="modal-body">
								<p> This Page is restricted because you are not logged into our site</p>
								<p>Either log onto our website on the <a style="color: white; font-weight: 900;" href="/"> Homepage </a></p>
								<p>Or register on the signup page <a style="color: white; font-weight: 900;" href="/signup">Here</a></p>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-12">
						<div class="page-title-box">
							<h4 class="page-title"> Profile </h4>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12">
						<div class="card bg-primary">
							<div class="card-body profile-user-box">
								<div class="row">
									<!-- this is the stats and derived information tab-->
									<div class="col-sm-12">
										<div class="media-body">
											<h4 class="mt-1 mb-1 text-white"> {{ticker}} - {{companyName}}</h4>
											<p class="font-13 text-white-50">Stock Ticker </p>
											<ul class="mb-0 list-inline text-light">
												<li class="list-inline-item mr-3">
													<h5 class="mb-1">{{price}}</h5>
													<p class="mb-0 font-13 text-white-50">Stock Price</p>
												</li>
												<li class="list-inline-item">
													<h5 class="mb-1"> {{volume}} </h5>
													<p class="mb-0 font-13 text-white-50"> Traded Volume </p>
												</li>
												<li class="list-inline-item">
													<h5 class="mb-1">{{prevClose}}</h5>
													<p class="mb-0 font-13 text-white-50"> Previous Closing Price</p>
												</li>
												<li class="list-inline-item">
													<h5 class="mb-1">{{change}}</h5>
													<p class="mb-0 font-13 text-white-50"> Change from Last Price in USD</p>
												</li>
												<li class="list-inline-item">
													<h5 class="mb-1">{{peRatio}}</h5>
													<p class="mb-0 font-13 text-white-50"> Price to Earnings Ratio</p>
												</li>
											</ul>
										</div>
									</div>
									<!-- end finnacial block-->
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-2"></div>
					<div class="col-sm-8">
						<h4 class="header-title mb-3"> Price Chart </h4>
						<div class="chartjs-chart" style="height: 260px;">
							<canvas id="high-performing-product"></canvas>
						</div>
					</div>
				</div>
				<template id="peerTemplate">
					<div class="shadow-lg card mb-3">
						<div class="card-body">
							<div class="float-left">
								<h4 id="titleTagTemplate"></h4>
							</div>
						</div>
					</div>
				</template>

				<div class="row">
					<div class="col-sm-10" style="margin: 0 auto;">
						<ul class="nav nav-tabs">
						   <li><a href="#a" class="mr-5" data-toggle="tab"><h6>News</h6></a></li>
						   <li><a href="#b" class="mr-5" data-toggle="tab"><h6>Finance</h6></a></li>
						   <li><a href="#c" class="mr-5" data-toggle="tab"><h6>Peers</h6></a></li>
						</ul>

						<div class="tab-content">
						   <div class="tab-pane active mrNews mt-4" id="a"></div>
						   <!--This is the tab pane that all the financial tables are stored in-->
						   <div class="tab-pane mt-3" id="b">
						   	<div class="row">
											<div class="col-xs-12">
												<div class="table-responsive-sm">
													<table class="table table-centered mb-0 ">
														<thead>
															<tr>
																<th style="font-weight: 800;"> Revenue </th>
																<th></th>
																<th>{{finance_1.date}}</th>
																<th>{{finance_2.date}}</th>
																<th>{{finance_3.date}}</th>
																<th>{{finance_4.date}}</th>
															</tr>
														</thead>
														<tbody>
															<tr>
																<th> Total Revenue </th>
																<th></th>
																<th>{{finance_1.totalRevenue}}</th>
																<th>{{finance_2.totalRevenue}}</th>
																<th>{{finance_3.totalRevenue}}</th>
																<th>{{finance_4.totalRevenue}}</th>
															</tr>
															<tr>
																<th>Cost of Revenue</th>
																<th></th>
																<th>{{finance_1.costOfRevenue}}</th>
																<th>{{finance_2.costOfRevenue}}</th>
																<th>{{finance_3.costOfRevenue}}</th>
																<th>{{finance_4.costOfRevenue}}</th>
															</tr>
															<tr>
																<th> Gross Profit </th>
																<th></th>
																<th>{{finance_1.grossProfit}}</th>
																<th>{{finance_2.grossProfit}}</th>
																<th>{{finance_3.grossProfit}}</th>
																<th>{{finance_4.grossProfit}}</th>
															</tr>
														</tbody>
													</table>
													<table class="table mt-2">
														<thead>
															<tr>
																<th style="font-weight: 800;"> Expenses and Shareholder Information </th>
																<th></th>
																<th>{{finance_1.date}}</th>
																<th>{{finance_2.date}}</th>
																<th>{{finance_3.date}}</th>
																<th>{{finance_4.date}}</th>
															</tr>
														</thead>
														<tbody>
															<tr>
																<th> Net Income </th>
																<th></th>
																<th>{{finance_1.netIncome}}</th>
																<th>{{finance_2.netIncome}}</th>
																<th>{{finance_3.netIncome}}</th>
																<th>{{finance_4.netIncome}}</th>
															</tr>
															<tr>
																<th> Operating Revenue </th>
																<th></th>
																<th>{{finance_1.operatingRevenue}}</th>
																<th>{{finance_2.operatingRevenue}}</th>
																<th>{{finance_3.operatingRevenue}}</th>
																<th>{{finance_4.operatingRevenue}}</th>
															</tr>
															<tr>
																<th> Operating Expenses </th>
																<th></th>
																<th>{{finance_1.operatingExpense}}</th>
																<th>{{finance_2.operatingExpense}}</th>
																<th>{{finance_3.operatingExpense}}</th>
																<th>{{finance_4.operatingExpense}}</th>
															</tr>
                                                            <tr>
                                                                <th> Current Assets</th>
                                                                <th></th>
                                                                <th>{{finance_1.currentAssets}}</th>
                                                                <th>{{finance_2.currentAssets}}</th>
                                                                <th>{{finance_3.currentAssets}}</th>
                                                                <th>{{finance_4.currentAssets}}</th>
                                                            </tr>
                                                            <tr>
                                                                <th> Total Assets</th>
                                                                <th></th>
                                                                <th>{{finance_1.totalAssets}}</th>
                                                                <th>{{finance_2.totalAssets}}</th>
                                                                <th>{{finance_3.totalAssets}}</th>
                                                                <th>{{finance_4.totalAssets}}</th>
                                                            </tr>
                                                            <tr>
                                                                <th>Current Cash</th>
                                                                <th></th>
                                                                <th>{{finance_1.currentCash}}</th>
                                                                <th>{{finance_2.currentCash}}</th>
                                                                <th>{{finance_3.currentCash}}</th>
                                                                <th>{{finance_4.currentCash}}</th>
                                                            </tr>
                                                            <tr>
                                                                <th>Current Debt</th>
                                                                <th></th>
                                                                <th>{{finance_1.currentDebt}}</th>
                                                                <th>{{finance_2.currentDebt}}</th>
                                                                <th>{{finance_3.currentDebt}}</th>
                                                                <th>{{finance_4.currentDebt}}</th>
                                                            </tr>
                                                            <tr>
                                                                <th>Cash Flow</th>
                                                                <th></th>
                                                                <th>{{finance_1.cashFlow}}</th>
                                                                <th>{{finance_2.cashFlow}}</th>
                                                                <th>{{finance_3.cashFlow}}</th>
                                                                <th>{{finance_4.cashFlow}}</th>
                                                            </tr>
														</tbody>
													</table>
												</div>
											</div>
							</div>
						   </div>
						   <!--END TABLE BLOCK-->
						   <!-- This is the tab element that the peer divs get appened to. -->
						   <div class="tab-pane" id="c">
						   		<div class="row">
						   			<div class="col-md-12 col-lg-8 mt-4 col-sm-12" id="peersAppend">
						   			</div>
						   		</div>
						   </div>
						   <!-- END PEER BLOCK-->
						</div>
					</div>
				</div>
		</div>
	</div>
	<script src="js/app.min.js"></script>
	<!--This is adding the main chart javascript from the server into the body of the html-->
	<script type="text/javascript">
		$.ajax({url: "/chart/{{ticker}}/high-performing-product", success: function(data) {
			$('body').append(data)
		}})
	</script>
	<!--This script is for the appending of peer items onto html-->
	<script type="text/javascript">
		$.ajax({url: "/news/rss/{{ticker}}", success: function(data) {
			const cardTemplate = "<div class='card shadow-lg'><div class='card-body'><h4 class='text-muted font-weight-bold mt-0'></h4> \
			</div></div>"
			for(var i = 0; i != data.length; i++) {
				const dataElem = data[i]
				var template = "<a target='_blank' href='" + dataElem.link + "'>"
				template += "<div class='card shadow-lg'><div class='card-body'><h4 class='mb-3'>" + dataElem.title + "</h4>"
				template += "<h5 class='mt-3 mb-3'>" + dataElem.description + "</h5>"
				template += "<h6 class='text-muted font-weight-bold mt-0'>" + dataElem.pubDate + "</h6></div></a>"

				$(".mrNews").append(template)
			}
			$.ajax({url: "/peers/{{ticker}}", success: function(peersData) {
				if(peersData.length != 0) {
					console.log("peers?")
					console.log(peersData)
					for(var i = 0; i != peersData.length; i++) {
						var peer = peersData[i]
						var peerTemplate = document.getElementById("peerTemplate")
						var peerTemplateTitle = peerTemplate.content.querySelector("h4")
						console.log(peer)
						peerTemplateTitle.textContent = peer.ticker + " - (" + peer.fullName + ") - $" + peer.priceUsd
						var clone = document.importNode(peerTemplate.content, true)
						$("#peersAppend").append(clone)
					}
				} else {
					$("#peersAppend").append("<h4 class='mt-3'>No Peers Found</h4>")
				}
			}})
		}})
	</script>
</body>
</html>
